jupyter_client==8.6.3
jupyter_core==5.7.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
numpy==2.2.1
PySoundFile==0.9.0.post1
scikit-learn==1.5.2
soundfile==0.13.1
sox==1.5.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1